<section class="contactus">
  <div class="container contactus-container">
    <h2 class="contactus-title">Contact Us</h2>

    <div class="contactus-parts">
      <form class="contactus-form">
        <p class="contactus-text">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <label class="visually-hidden" for="user-name">Name</label>
        <input
          class="contactus-input"
          id="user-name"
          type="text"
          name="user-name"
          placeholder="Name"
          required
        />
        <label class="visually-hidden" for="user-email">Email</label>
        <input
          class="contactus-input"
          id="user-email"
          type="email"
          name="email"
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          placeholder="Email"
          required
        />
        <label class="visually-hidden" for="user-phone">Phone</label>
        <input
          class="contactus-input"
          id="user-phone"
          type="tel"
          name="phone"
          pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
          value="+380"
          maxlength="17"
          required
        />
        <label class="visually-hidden" for="user-comment">Comment</label>
        <textarea
          class="contactus-comment"
          id="user-comment"
          name="user-comment"
          placeholder="Comment"
        ></textarea>
        <button class="contactus-btn" type="submit">Send</button>
      </form>

      <div class="contactus-container-img">
        <picture class="contactus-picture">
          <source
            srcset="
              ./img/contact-us-desktop-1x-min.jpg 1x,
              ./img/contact-us-desktop-2x-min.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/contact-us-tablet-1x-min.jpg 1x,
              ./img/contact-us-tablet-2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/contact-us-mobile-1x-min.jpg 1x,
              ./img/contact-us-mobile-2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="contactus-img"
            src="./img/contact-us-desktop-1x-min.jpg"
            alt="watch on stone"
            width="335"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
