<footer class="container-bottom">
  <div class="footer">
    <div class="footer-container">
      <div class="footer-soc">
        <a class="footer-traling-title" href="./index.html">watchcharm</a>
        <ul class="list footer-traling-list">
          <li>
            <a
              class="footer-traling-icons"
              href="https://www.facebook.com/goITclub/"
              aria-label="facebook"
            >
              <svg class="traling-icon" width="18" height="18">
                <use href="./img/icons.svg#icon-facebook-icon"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="footer-traling-icons"
              href="https://www.instagram.com/goitclub/"
              aria-label="instagram"
            >
              <svg class="traling-icon" width="18" height="18">
                <use href="./img/icons.svg#icon-instagram-icon"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="footer-traling-icons"
              href="https://www.youtube.com/c/GoIT"
              aria-label="youtube"
            >
              <svg class="traling-icon" width="18" height="18">
                <use href="./img/icons.svg#icon-youtube-icon"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <p class="footer-txt-desktop">
        Have the time of your life with our watches: where high-class
        craftsmanship meets impeccable design
      </p>
      <a class="footer-phone-border" href="tel:+380 (68) 443-94-26">
        +380 (68) 443-94-26
      </a>
      <p class="footer-txt">
        Have the time of your life with our watches: where high-class
        craftsmanship meets impeccable design
      </p>
    </div>
    <div class="">
      <div class="footer-nav">
        <ul class="list footer-list">
          <li class="">
            <a class="footer-list-txt">Home</a>
          </li>
          <li>
            <a class="footer-list-txt">About Us</a>
          </li>
          <li>
            <a class="footer-list-txt">Catalog</a>
          </li>
          <li>
            <a class="footer-list-txt">Sale</a>
          </li>
          <li>
            <a class="footer-list-txt">Reviews</a>
          </li>
          <li>
            <a class="footer-list-txt">Contact Us</a>
          </li>
        </ul>
        <p class="footer-layout-txt">
          1678 S. Pioneer Road Salt Lake City UT 84104
        </p>
      </div>
      <hr class="horizontal-line" />
      <div class="footer-sok">
        <p class="footer-rights">©2023 The Watch Spot. All rights reserved.</p>
        <ul class="list footer-policy-list">
          <li>
            <a class="footer-policy">Terms of Service</a>
          </li>
          <li>
            <a class="footer-policy">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
