<section>
    <div>
      <h1 class="hero">Welcome to our <span class="span-hero">collection</span> of premium watches</h1>
      <p>
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>
    <div>
      <img src="" alt="Foto blond woomen" width="44"/>
      <img
        src=""
        alt="foto man in suit" width="44"
      /><img src="" alt="Foto blond woomen" width="44"/><a
        href="">Scroll down</a>
    </div>
    <img src="" alt="Big watch" width: 375;
height: 366;/>
  </div>
</section>
