<section class="reviews-container container">
  <div class="reviews">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <img
          class="reviews-img"
          srcset="./img/jonh-wax-1x-min.jpg 1x, ./img/jonh-wax-2x-min.jpg 2x"
          src="./img/jonh-wax-1x-min.jpg"
          alt="John Wax"
          width="56"
          height="56"
        />
        <div class="reviews-section">
          <h3 class="reviews-link">John Wax</h3>
          <p class="reviews-text">
            Buying a watch from was the best choice for me. The design is
            perfectly combined with high quality materials. The strap fits
            nicely on the hand, and the mechanism works flawlessly.
          </p>
        </div>
      </li>
      <li class="reviews-item reviews-one">
        <img
          class="reviews-img"
          srcset="
            ./img/victoria-romashenko-1x-min.jpg 1x,
            ./img/victoria-romashenko-2x-min.jpg 2x
          "
          src="./img/victoria-romashenko-1x-min.jpg"
          alt="Victoria Romashenko"
          width="56"
          height="56"
        />
        <div class="reviews-section">
          <h3 class="reviews-link">Victoria Romashenko</h3>
          <p class="reviews-text">
            Can't take my eyes off my watch from. Every time I put it on, it is
            admired by those around me. The build quality and attention to
            detail make it a real gem among my accessories.
          </p>
        </div>
      </li>
      <li class="reviews-item reviews-two">
        <img
          class="reviews-img"
          srcset="
            ./img/anastasia-trachuk-1x-min.jpg 1x,
            img/anastasia-trachuk-2x-min.jpg   2x
          "
          src="./img/anastasia-trachuk-1x-min.jpg"
          alt="Anastasia Trachuk"
          width="56"
          height="56"
        />
        <div class="reviews-section">
          <h3 class="reviews-link">Anastasia Trachuk</h3>
          <p class="reviews-text">
            My watch from is a real masterpiece. Every detail impresses with the
            high quality of execution. Special features like [specify features]
            make it an indispensable companion in my daily life.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
