<section class="sale">
    <h2 class="sale-header">Sale</h2>
    <div class="sale-content">
        <div class="sale-img-watches">
            <ul class="sale-img-watches-list">
                <li class="sale-img-watches-list-item">
                    <picture>
                        <source media="(min-width: 1280px)" 
                        srcset="../img/desktop-tablet-commander1-1x-min.png 1x, ../img/desktop-tablet-commander1-1x-min.png 2x" />
                        <source media="(min-width: 768px)" srcset="../img/desktop-tablet-commander1-1x-min.png 1x, ../img/desktop-tablet-commander1-1x-min.png 2x" />
                        <source media="(min-width: 320px)" srcset="../img/mobile-commander1-1x-min.png 1x, ../img/mobile-commander1-2x-min.png 2x" />
                        <img src="../img/desktop-tablet-commander1-1x-min.png" alt="commander1"
                            class="sale-img-watches-list-item-img" width="52" height="54" />
                    </picture>
                </li>
                <li class="sale-img-watches-list-item">
                    <picture>
                        <source media="(min-width: 1280px)"
                            srcset="../img/desktop-tablet-commander2-1x-min.png 1x, ../img/desktop-tablet-commander2-1x-min.png 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/desktop-tablet-commander2-1x-min.png 1x, ../img/desktop-tablet-commander2-1x-min.png 2x" />
                        <source media="(min-width: 320px)"
                            srcset="../img/mobile-commander2-1x-min.png 1x, ../img/mobile-commander2-2x-min.png 2x" />
                        <img src="../img/desktop-tablet-commander2-1x-min.png" alt="commander2"
                            class="sale-img-watches-list-item-img" width="52" height="54" />
                    </picture>
                </li>
                <li class="sale-img-watches-list-item">
                    <picture>
                        <source media="(min-width: 1280px)"
                            srcset="../img/desktop-tablet-commander3-1x-min.png 1x, ../img/desktop-tablet-commander3-1x-min.png 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/desktop-tablet-commander3-1x-min.png 1x, ../img/desktop-tablet-commander3-1x-min.png 2x" />
                        <source media="(min-width: 320px)"
                            srcset="../img/mobile-commander3-1x-min.png 1x, ../img/mobile-commander3-2x-min.png 2x" />
                        <img src="../img/desktop-tablet-commander3-1x-min.png" alt="commander3" class="sale-img-watches-list-item-img"
                            width="52" height="54" />
                    </picture>
                </li>
                <li class="sale-img-watches-list-item">
                    <picture>
                        <source media="(min-width: 1280px)"
                            srcset="../img/desktop-tablet-commander4-1x-min.png 1x, ../img/desktop-tablet-commander4-1x-min.png 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/desktop-tablet-commander4-1x-min.png 1x, ../img/desktop-tablet-commander4-1x-min.png 2x" />
                        <source media="(min-width: 320px)"
                            srcset="../img/mobile-commander4-1x-min.png 1x, ../img/mobile-commander4-2x-min.png 2x" />
                        <img src="../img/desktop-tablet-commander4-1x-min.png" alt="commander4" class="sale-img-watches-list-item-img"
                            width="52" height="54" />
                    </picture>
                </li>
            </ul>
            <picture>
                <source media="(min-width: 1280px)"
                    srcset="../img/desktop-commander-1x-min.png 1x, ../img/desktop-commander-2x-min.png 2x" />
                <source media="(min-width: 320px)"
                    srcset="../img/mobile-commander-1x-min.png 1x, ../img/mobile-commander-2x-min.png 2x" />
                <img src="../img/desktop-commander-1x-min.png" alt="commander4" class="sale-img-watches-big-img"
                    width="335" height="385" />
            </picture>
        </div>
        <div class="sale-info-dashboard">
            <div>
                <h3>MARQ® Commander (Gen 2) - Carbon Edition</h3>
                <p>Product tag: 706587</p>
            </div>
            <div>
                <p>€1500</p>
            </div>
            <p>€3000</p>
            <p>The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes materials and features
            to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a precise AMOLED
            touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions.</p>
            <ul>
                <li>Fused carbon fiber</li>
                <li>Grade-5 Titanuim</li>
                <li>Athleter</li>
                <li>Golfer</li>
                <li>Commander</li>
                <li>Adventurer</li>
            </ul>
        </div>
        </div>
    </div>
</section>
