<section id="sale" class="sale">
  <div class="sale-container">
    <h2 class="sale-header">Sale</h2>
    <div class="sale-content">
      <div class="sale-img-watches">
        <ul class="sale-img-watches-list">
          <li class="sale-img-watches-list-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/desktop-tablet-commander1-1x-min.png 1x,
                  ./img/desktop-tablet-commander1-2x-min.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/mobile-commander1-1x-min.png 1x,
                  ./img/mobile-commander1-2x-min.png 2x
                "
              />
              <img
                src="./img/mobile-commander1-1x-min.png"
                alt="commander1"
                class="sale-img-watches-list-item-img"
                width="52"
                height="54"
              />
            </picture>
          </li>
          <li class="sale-img-watches-list-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/desktop-tablet-commander2-1x-min.png 1x,
                  ./img/desktop-tablet-commander2-2x-min.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/mobile-commander2-1x-min.png 1x,
                  ./img/mobile-commander2-2x-min.png 2x
                "
              />
              <img
                src="./img/mobile-commander2-1x-min.png"
                alt="commander2"
                class="sale-img-watches-list-item-img"
                width="52"
                height="54"
              />
            </picture>
          </li>
          <li class="sale-img-watches-list-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/desktop-tablet-commander3-1x-min.png 1x,
                  ./img/desktop-tablet-commander3-2x-min.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/mobile-commander3-1x-min.png 1x,
                  ./img/mobile-commander3-2x-min.png 2x
                "
              />
              <img
                src="./img/mobile-commander3-1x-min.png"
                alt="commander3"
                class="sale-img-watches-list-item-img"
                width="52"
                height="54"
              />
            </picture>
          </li>
          <li class="sale-img-watches-list-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/desktop-tablet-commander4-1x-min.png 1x,
                  ./img/desktop-tablet-commander4-2x-min.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/mobile-commander4-1x-min.png 1x,
                  ./img/mobile-commander4-2x-min.png 2x
                "
              />
              <img
                src="./img/mobile-commander4-1x-min.png"
                alt="commander4"
                class="sale-img-watches-list-item-img"
                width="52"
                height="54"
              />
            </picture>
          </li>
        </ul>
        <div class="sale-big-picture">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/desktop-commander-1x-min.png 1x,
                ./img/desktop-commander-2x-min.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/mobile-commander-1x-min.png 1x,
                ./img/mobile-commander-2x-min.png 2x
              "
            />
            <img
              src="./img/mobile-commander-1x-min.png"
              alt="commander4"
              class="sale-img-watches-big-img"
              width="235"
              height="285"
            />
          </picture>
        </div>
      </div>
      <div class="sale-info-dashboard">
        <div class="sale-block-one">
          <p class="sale-header-2">MARQ® Commander (Gen 2) - Carbon Edition</p>
          <p class="sale-header-text">Product tag: 706587</p>
        </div>
        <div class="sale-prices">
          <button type="button" class="sale-btn">€1500</button>
          <p class="sale-old-price">€3000</p>
        </div>
        <div class="sale-text-block">
          <p class="sale-text-info">
            The Garmin MARQ Commander Gen 2 Carbon Edition is a modern
            smartwatch for adventurers that takes materials and features to the
            next level. The body of the watch is made of very durable Fused
            Carbon Fiber material and has a precise AMOLED touch screen. The
            sensitive touch screen is complemented by buttons that can be used
            in any conditions.
          </p>
        </div>
        <div class="sale-list-block">
          <ul class="sale-list-categories">
            <li class="sale-list-categories-item">Fused carbon fiber</li>
            <li class="sale-list-categories-item">Grade-5 Titanuim</li>
            <li class="sale-list-categories-item">Athleter</li>
            <li class="sale-list-categories-item">Golfer</li>
            <li class="sale-list-categories-item">Commander</li>
            <li class="sale-list-categories-item">Adventurer</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
