.catalog-container{
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

@media screen and (min-width: 375px) and (max-width: 767px){
.catalog-container{
    padding-top: 30px;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
}
}

.catalog-paragraph{
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
font-size: 32px;
line-height: 1;
letter-spacing: -0.02em;
color: #0c0c0c;
margin-bottom: 24px;
}
.catalog-foto{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  
}
.catalog-list{
    border: 1px solid rgba(12, 12, 12, 0.05);
border-radius: 30px;
background: #f3f3f3;
padding: 24px 28px;
width: 100%;
}


.catalog-image{
    margin-left: auto;
    margin-right: auto;
}
.catalog-name{
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
font-size: 16px;
line-height: 1.25;
letter-spacing: -0.02em;
color: #0c0c0c;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
    padding-top: 10px;
    padding-bottom: 8px;
}
.catalog-price{
    font-weight: 400;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
color: rgba(12, 12, 12, 0.5);
}
.catalog-list-tab{
    display: none;
  
}
.catalog-button{
    font-weight: 500;
font-size: 14px;
line-height: 1.29;
text-align: center;
color: #fbfbfb;
border-radius: 16px;
width: 160px;
height: 48px;
background: #3350e9;
cursor: pointer;
margin: 0 auto;
border: none;
position: relative;
left: 50%;
transform: translate(-50%, 0);
margin-top: 40px;
margin-bottom: 30px;
}
.catalog-button:hover{
    background-color: #1f3cd4;;
}

/* ---------TAB----------------- */
@media screen and (min-width:768px){
.catalog-paragraph{
    font-weight: 600;
    font-size: 48px;
    line-height: 0.92;
 margin-bottom: 40px;
}

.catalog-list{
    width: 344px;
    height: 414px;
    padding: 24px 32px;
}
.catalog-list-tab{
    display: block;
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    width: 344px;
    height: 414px;
    background: #f3f3f3;
    padding: 24px 32px;
}

.catalog-image{
    width: 268px;
    height: 292px;
}
.catalog-foto{
    gap: 32px 16px;
    margin-bottom: 40px;
}
.catalog-name{
    font-size: 19.7px;
    line-height: 1;
    letter-spacing: -0.02em;
    padding-top: 10px;
    padding-bottom: 8px;
    width: 280px;
}
.catalog-button{
    display: none;
}
.catalog-container{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
}



/* ---------DESKTOP----------- */
@media screen and (min-width:1280px){

.catalog-list{
    width: 368px;
    height: 414px;
    padding: 32px;
}
.catalog-list-tab{
    width: 368px;
    height: 414px;
    padding: 32px;
}
.catalog-image{
    width: 292px;
    height: 292px;
}
.catalog-name{
    width: 304px;
    padding-top: 10px;
    padding-bottom: 8px;
    font-size: 19.6px;
}

.catalog-foto{
    margin-bottom: 50px;
}
}
