.header {
  padding: 20px 0;
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.container {
  max-width: 375px;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.container-header {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  color: #0c0c0c;
  margin-right: auto;
}

.nav {
  margin-right: auto;
}

.nav-list {
  display: none;
  gap: 40px;
}

.nav-list .nav-item .current {
  position: relative;
}

.nav-link {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #0c0c0c;
  padding-bottom: 10px;
}

.current::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1px;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #404bbf;
}

.social-list {
  display: none;
  gap: 10px;
}

.social-icon {
  width: 36px;
  height: 36px;
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  fill: #0c0c0c;
  padding: 8px;
  cursor: pointer;
  vertical-align: middle;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover {
  fill: #3350e9;
  border: 1px solid rgba(51, 80, 233, 0.1);
}

.mobile-menu {
  border: none;
  background: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-menu-icon {
  fill: transparent;
  stroke: #0c0c0c;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .header-logo {
    font-size: 20px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 64px;
    padding-right: 64px;
  }

  .header-logo {
    margin-right: 204px;
  }

  .nav-list {
    display: flex;
  }

  .social-list {
    display: flex;
  }

  .mobile-menu {
    display: none;
  }

  .mobile-modal-overlay.is-open {
    display: none;
  }
}

/* mobile menu */

.mobile-modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: right;
  opacity: 0;
  pointer-events: none;
}

.mobile-modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.mobile-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  overflow: auto;
  width: 200px;
  height: 100%;
  padding: 20px 20px 40px 20px;
  background-color: #0c0c0c;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* background 320px */

@media screen and (min-width: 320px) {
  .mobile-modal {
    background-image: url(' ../img/header-background-menu-mobile-1x.jpg');
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .mobile-modal {
      background-image: url(' ../img/header-background-menu-mobile-2x.jpg');
    }
  }
}

/* background 768px */

@media screen and (min-width: 768px) {
  .mobile-modal {
    background-image: url(' ../img/header-background-menu-tablet-1x.jpg');
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .mobile-modal {
      background-image: url(' ../img/header-background-menu-tablet-2x.jpg');
    }
  }
}

.close-mobile-menu {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: right;
}

.close-mobile-menu-icon {
  width: 34px;
  height: 34px;
  fill: transparent;
  stroke: #fbfbfb;
}

.nav-list-mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.nav-link-mobile-menu {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  padding-bottom: 10px;
  position: relative;
}

.current-mobile-menu::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1px;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #404bbf;
}

.mobile-social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.mobile-social-icon {
  width: 36px;
  height: 36px;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  fill: #fbfbfb;
  padding: 8px;
  cursor: pointer;
  vertical-align: middle;
  cursor: pointer;
}

@media (min-width: 768px) {
  .mobile-modal {
    width: 330px;
    padding: 26px 32px 50px 32px;
  }

  .close-mobile-menu {
    top: 26px;
    right: 32px;
  }

  .nav-list-mobile-menu {
    gap: 32px;
  }
}
