/* Reset styles */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.content a,
.content ul {
  text-decoration: none;
  list-style-type: none;
  font-style: normal;
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280) {
  .container {
    max-width: 1280px;
    padding: 0 65px;
    margin: 0 auto;
  }
}
